@import "variables";

.sf-content-page {
  transition: margin-left 0.15s ease, margin-right 0.15s ease;
  margin-left: 30rem;
  padding: 3.6rem 2rem;
}

input,
select {
  font-size: 1.2rem;
  font-family: "Nunito Sans", sans-serif;
  color: #4d4d4d;
  background-color: #ffffff;
  width: 100%;
  display: block;
  height: 46px;
  padding: 0 1rem;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}

input:disabled {
  background-color: $buttonDisableBgColor;
}

textarea {
  font-size: 0.875rem;
  font-family: "Nunito Sans", sans-serif;
  color: #4d4d4d;
  background-color: #ffffff;
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  resize: none;
}

input[type="range"] {
  height: fit-content !important;
}

.sf-form-100 {
  width: calc(100% + 24px);
}

/* Input Radio */
.form-selectradio,
.form-selectcheckbox {
  display: flex;
}

.form-selectradiobutton,
.form-selectcheckboxbutton {
  display: inline-block;
  border-radius: 50%;
  margin: 0;
}

.form-selectradiobutton label,
.form-selectcheckboxbutton label {
  font-size: 0.875rem;
  cursor: pointer;
  display: inline-block;
  margin: 0 16px 0 8px;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  text-align: center;
  position: relative;
  border-radius: 50%;
  line-height: 16px;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"] {
  border-radius: 6px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  background-color: #dcdee7;
  border-radius: 6px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border-radius: 6px;
  border: 2px solid #dcdee7;
  padding: 0.01rem;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}

// Renderização de Templates - Botão

.sf-btn-select-content {
  background-color: $btnPrimary;
  > div {
    > div.sf-display-block {
      i {
        display: none;
      }
    }
  }
  .sf-btn-primary-hover {
    width: 100%;
  }
}

// Renderização de Templates - Botão

// Tooltip Actions

.sf-tooltip-actions {
  background-color: darken(#434e5d, 4);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  bottom: 10px;
  right: 12px;
  display: none;
  i {
    cursor: pointer;
    &:hover {
      color: $greyLight !important;
    }
  }
}

.sf-tooltip-actions-hover {
  &:hover {
    border: 2px solid salmon;
    .sf-tooltip-actions {
      display: block;
    }
  }
}

// Tooltip Actions

// Dialog Template

.sf-dialog-content {
  box-shadow: 1px 2px 11px 0 rgba(0, 0, 0, 0.1);
  width: clamp(150px, 50ch, 900px);
  height: fit-content;
  z-index: 998;
  .sf-dialog-body {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &.sf-minimized-dialog {
    overflow: hidden;
    height: 47px !important;
  }
  &.sf-drop-dialog,
  &.sf-drop-dialog-content {
    width: clamp(150px, 30rem, 900px) !important;
    top: initial !important;
    height: 100% !important;
    bottom: 0 !important;
    > .sf-dialog-body {
      max-height: 100%;
    }

    &.sf-drop-dialog-left {
      left: 0 !important;
    }
    &.sf-drop-dialog-right {
      right: 0 !important;
    }
  }
  &.sf-drop-dialog {
    .sf-dialog-body {
      padding-bottom: 4rem;
    }
  }
}

// Dialog Template

// Conteúdo socio resultado

.sf-card-socio-content {
  gap: 12px;
  .sf-card-socio {
    width: 100%;
    &.actived {
      div {
        background-color: #1fbdd538;
        border-color: #00b8d4 !important;
        color: #0395ac;
      }
    }
    &:hover {
      div {
        border-color: #00b8d4 !important;
        color: #0395ac;
        cursor: pointer;
      }
    }
  }
}
// Conteúdo socio resultado

// Conteúdo contato resultado

.sf-contact-business-content {
  gap: 12px;
  &.sf-business-overflow {
    ::-webkit-scrollbar {
      background: #e0e0e0;
      height: 4px;
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background: #bebebe;
    }
    ::-webkit-scrollbar-track {
      background-color: #e0e0e0;
    }
    ul {
      max-height: 392px;
      overflow-y: auto;
    }
  }
  .sf-contact-content-list {
    width: 100%;
    &.content-list-segments {
      height: fit-content;
      div {
        background-color: #f5f5f5;
        width: 100%;
      }
      &.actived {
        div {
          background-color: #1fbdd538;
          border-color: #00b8d4 !important;
          color: #0395ac;
        }
      }
      &:hover {
        div {
          border-color: #00b8d4 !important;
          color: #0395ac;
          cursor: pointer;
        }
      }
    }
  }
  &.sf-content-grid {
    .sf-contact-content-list {
      flex: initial;
    }
  }
}

.information-list-business {
  .information-list-business-li {
    span {
      width: 100%;
    }
    &:nth-child(odd) {
      background-color: #79797936;
    }
  }
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  margin: 12px 12px 0;
  border-radius: 4px;
  max-height: 210px;
  overflow-y: auto;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  &:last-child {
    border-bottom: 0;
  }
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@media (min-width: 731px) {
  .sf-contact-business-content {
    .sf-contact-content-list {
      width: calc(50% - 12px);
    }
    &.sf-content-grid {
      .sf-contact-content-list {
        width: calc(50% - 12px);
      }
    }
  }
  .sf-card-socio-content {
    .sf-card-socio {
      width: calc(50% - 12px);
    }
  }
}

@media (min-width: 960px) {
  .sf-contact-business-content {
    .sf-contact-content-list {
      width: calc((100% - 24px) / 3);
    }
    &.sf-content-grid {
      .sf-contact-content-list {
        width: calc((100% - 24px) / 3);
      }
    }
  }
  .sf-card-socio-content {
    .sf-card-socio {
      width: calc((100% - 24px) / 3);
    }
  }
}
@media (min-width: 1200px) {
  .sf-contact-business-content {
    .sf-contact-content-list {
      width: calc((100% - 24px) / 3);
    }
    &.sf-content-grid {
      .sf-contact-content-list {
        width: calc(100% / 4);
      }
    }
  }
  .sf-card-socio-content {
    .sf-card-socio {
      width: calc((100% - 36px) / 4);
    }
  }
}

// Conteúdo contato resultado

.sf-loading-animation {
  z-index: 999999;
  // display: none;
  height: 100px;
  width: 100px;
}

.sf-loading-input {
  height: 100%;
  width: 40px;
}

// Error Style

.sf-error-svg {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/*////////////////////v animation//////////////////*/
.text1 {
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1160;
  stroke-dashoffset: 0;
}
.text1:nth-child(3n) {
  fill: #272727;
}

.text1:nth-child(3n + 2) {
  fill: #e7515a;
}

.text2 {
  fill: #2196f3;
}
// Mesagem Box

.mensagem-box {
  position: fixed;
  overflow: hidden;
  z-index: 997;
  right: 30px;
  bottom: 30px;
}

.mensagem {
  margin-bottom: 12px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 1rem;
  color: #fff;
  z-index: 998;
}

.mensagem:last-child {
  margin-bottom: 0;
}

.mensagem.success {
  background-color: $successColor;
}

.mensagem.error {
  background-color: $dangerColor;
}

.mensagem.warning {
  background-color: $warningColor;
}

// Mesagem Box

// Error Style

.sf-modal {
  background-color: #000;
  position: fixed;
  z-index: -1;
  display: none;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  &.actived {
    background-color: gray;
    display: block;
    z-index: 9999;
    opacity: 0.8;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"].input-range-animation {
    overflow: hidden;
    -webkit-appearance: none;
    border-radius: 12px;
  }
  input[type="range"].input-range-animation::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 12px;
    background-color: #f3f4f7;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  input[type="range"].input-range-animation::-webkit-slider-thumb {
    width: 12px;
    -webkit-appearance: none;
    height: 12px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #1597ff;
    box-shadow: -330px 0 0 324px #1597ff;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  input[type="range"].input-range-animation:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -330px 0 0 324px #1597ff;
  }
  .h4-container {
    width: 100%;
    max-width: 100%;
    padding: 0 6px;
    height: 0;
    position: relative;
  }
  .h4-container .h4-subcontainer {
    width: 100%;
    position: relative;
  }
  .h4-container .h4-subcontainer h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 32px;
    height: 32px;
    color: #fff !important;
    font-size: 0.8rem;
    padding-top: 20px;
    transform-origin: center -10px;
    transform: translateX(-50%);
    transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
    z-index: 99;
  }
  .h4-container .h4-subcontainer h4 span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    background-color: #1597ff;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    z-index: -1;
  }
  input:not(:active) + .h4-container h4 {
    opacity: 0;
    margin-top: -10px;
    pointer-events: none;
  }

  // Range Ticks

  input[type="range"].input-range-tickes-bulk {
    -webkit-appearance: none;
    border-radius: 12px;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: #f0f4fb;
      width: 100%;
      left: 3px;
      border-radius: 1px;
      height: 2px;
      top: 5px;
      z-index: 1;
      box-shadow: 10px 0 0 #f0f4fb;
    }

    &:active.input-range-tickes-bulk:after,
    &:hover.input-range-tickes-bulk:after {
      content: "";
      position: absolute;
      background: rgb(190, 190, 190);
      width: 2px;
      left: 3px;
      border-radius: 1px;
      height: 6px;
      top: 3px;
      z-index: 1;
      box-shadow: 10px 0 0 rgb(190 190 190), 20px 0 0 rgb(190 190 190),
        30px 0 0 rgb(190 190 190), 40px 0 0 rgb(190 190 190),
        50px 0 0 rgb(190 190 190), 60px 0 0 rgb(190 190 190),
        70px 0 0 rgb(190 190 190), 80px 0 0 rgb(190 190 190),
        90px 0 0 rgb(190 190 190), 100px 1px 0 rgb(235 235 235),
        90px 1px 0 rgb(235 235 235), 120px 1px 0 rgb(255 255 255),
        150px 1px 0 rgb(235 235 235), 180px 1px 0 rgb(235 235 235),
        210px 1px 0 rgb(235 235 235), 240px 1px 0 rgb(235 235 235),
        270px 1px 0 rgb(235 235 235);
    }
  }
  input[type="range"].input-range-tickes-bulk::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 12px;
    background-color: #fff;
    color: #444;
  }
  input[type="range"].input-range-tickes-bulk::-webkit-slider-thumb {
    width: 12px;
    -webkit-appearance: none;

    height: 12px;
    cursor: pointer;
    background: #1597ff;
    border: 1px solid #1597ff;
    border-radius: 40rem;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    z-index: 4;
  }
  input[type="range"].input-range-tickes-bulk:active::-webkit-slider-thumb {
    background: #fff;
  }
}
